<h1>Your devices</h1>

<table>
  <tr>
    <th>Device Key</td>
    <th>XMPP Account</td>
    <th colspan="3"></th>
  </tr>

<% @arduinos.each do |arduino| %>
  <tr>

    <td><%=h arduino.device_key %></td>
    <td><%=h arduino.xmpp_account %></td>
 

    <td><%= link_to 'View', arduino %></td>
    <td><%= link_to 'Edit', edit_arduino_path(arduino) %></td>
    <td><%= link_to 'Remove', arduino, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<p>The device key is used by the server to find the XMPP account to forward to the messages
received by the device. You must include it into your firmware as explained in the home page.</p>

<p>
<%= link_to 'Register a device', new_arduino_path %>
</p>
