
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>ARPPR: Arduino to XMPP Gateway</title>
    <%= stylesheet_link_tag "scaffold" %>
  </head>
  <body>
    <div id="page">
      <div id="sidebar">
        <ul id="sidebar-items">
        
          <li>
            <ul class="links">
<% unless current_user %>
              <li><a href="/">Home</a></li>
              <li><a href="/signup">Register an account</a></li>
              <li><a href="/login">Login</a></li>
<% else %>
              <li><strong><%= current_user.login %></strong></li>
              <li><a href="/">Home</a> <a href="/logout">Logout</a></li>
              <li><a href="/arduinos">List devices</a></li>
              <li><a href="/arduinos/new">Register a device</a></li>
<% end %>
            </ul>
          </li>

          <li>
            <h3>The Project</h3>
            <p>This project has been created by a team of developers in two afternoons 
            during the Hack-Ups in Milano, Italy</p>
            <ul class="links">
              <li><a href="http://www.hack-up.org/wiki/index.php?title=Milan_16_Nov_2008">
	      Hack Up #1</a>, November 16 2008: the core algorithm</li>
              <li><a href="http://www.hack-up.org/wiki/index.php?title=Milan_29_Mar_2009">
	      Hack Up #4</a>, March 29 2009: the web service</li>
              <li><a href="http://www.hack-up.org/">The Hack-Up home</a></li>
            </ul>
          </li>
          
          <li>
            <h3>Software</h3>
            <ul class="links">
              <li><a href="http://github.com/pmontrasio/arpp/tree/master">
		  The code of this application</a></li>
              <li><a href="http://rubyonrails.org/">Ruby on Rails</a></li>
              <li><a href="http://home.gna.org/xmpp4r/">XMPP4R</a></li>
            </ul>
          </li>

          <li>
            <h3>Hardware</h3>
            <ul class="links">
            <li>Learn about <a href="http://www.arduino.cc/">Arduino</a></li> 
            </ul>
          </li>

        </ul>
      </div>

      <div id="content">
        <div id="header">
          <h1>ARPPR</h1>
          <h2>Arduino to XMPP gateway</h2>
        </div>

<% if flash[:notice] %>        
<p style="color: green"><%= flash[:notice] %></p>
<% end %>
<% if flash[:error] %>        
<p style="color: red"><%= flash[:error] %></p>
<% end %>

<%= yield %>


      </div>
      
      <div id="footer">
            <p>This server is managed by
            <a href="http://www.connettiva.eu">Connettiva</a><br />
 Rapid Web Application Developement - P.IVA 05411020968</p>
      </div>
    </div>
  </body>
</html>
